.topnav {
    background-color: rgb(102, 102, 243);
}
.topnav   .navbar-nav .nav-link {
    color: rgb(243 235 235 / 55%);
}.topnav {
    background-color: rgb(102, 102, 243);
}
.topnav .navbar-nav .nav-link {
    color: rgb(243 235 235 / 55%);
}